 {% extends "base.html" %}

<!-- title block------------------------------------------------------------>

{% block title %} LOG IN {% endblock %}

<!--style block-------------------------------------------------------------->
{% block style%}
<style>
    .login_nav_a {
        font: bold;
        color: black !important;
    }
    
    .imgs_div,
    .buttons_div {
        margin: auto;
        width: max-content;
        max-width: 70%;
    }
    
    .img_button {
        margin: 1px 0;
        background-size: 100px 100px;
        height: 100px;
        width: 100px;
        -webkit-text-stroke: 1px black;
        border: 1px solid gray;
        cursor: pointer;
    }
    
    .img_button:hover {
        margin: 0 5px;
        transform: scale(1.1);
        box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
        transition: 0.2s;
    }
    
    .close {
        display: none;
        color: red;
        width: 100%;
        text-align: center;
        font-size: 60px;
    }
    
    .img_button:hover .close {
        display: block;
    }
</style>
{% endblock %}

<!-- body block-------------------------------------------------------------->
{% block body %}
<form class="input_form" method="post" action="" enctype="multipart/form-data">
    <h2> Second level authentication <samp style="font-size:medium; float:right">Uploading Custom images</samp></h2>
    <hr>
    <h5>Your images :</h5>
    <p>hint:If you want to remove an image press on it</p>
    <div class="imgs_div">
        {%for i in imgs_list:%}
        <div onclick="remove('{{i}}')" id="{{i}}" style="background-image: url({{directory}}/{{i}});" class="img_button">
            <div class="close">X</div>
        </div> {%endfor%}
    </div>
    <h4>Select an image to upload</h4>
    <input multiple type="file" name="file" class="form-control" autocomplete="off" required>
    <br><input type="submit" value="Upload" class="btn btn-lg btn-secondary">
    <a class="btn btn-lg btn-primary" href="signupF2"> Done </a>

</form>
{% endblock %}

<!--scripts block ------------------------------------------------------------>

{% block script %}
<script>
    function remove(id) {
        document.getElementById(id).remove();

        //api request
    }
</script>
{% endblock %}