{% extends "base.html" %}

<!-- title block------------------------------------------------------------>

{% block title %} LOG IN {% endblock %}

<!--style block-------------------------------------------------------------->
{% block style%}
    .login_nav_a {
        font: bold;
        color: black !important;
    }
    
{% endblock %}

<!-- body block-------------------------------------------------------------->
{% block body %}
<form class="input_form" method="post" action="" enctype="multipart/form-data">
    <h2> second level authentication <samp style="font-size:medium; float:right">Uploading Custom images</samp></h2>
    <hr>
    <h5>ur images :</h5>
    <div class="imgs_div">
        {%for i in imgs_list:%}
        <input style="background-image: url({{directory}}/{{i}});" class="img_button" value=" " type="button"> {%endfor%}
    </div>
    <h4>Select an image to upload</h4>
    <input multiple type="file" name="files[]" class="form-control" autocomplete="off" required>
    <br><input type="submit" value="Upload" class="btn btn-lg btn-primary">
    <a class="btn btn-lg btn-secondary" href="signupF2"> FINSH </a>

</form>
{% endblock %}

<!--scripts block ------------------------------------------------------------>

{% block script %} {% endblock%}